.footer {
  background: #F3F3F3;
  color: #2D3341;

  .main-menu {
    @include flex-h-sb;
    padding: 50px 0 40px;

    .item-big {
      width: 330px;
    }

    .item {
      width: 210px;
    }

    .logo {
      margin: 0 0 20px;
    }

    .text-styled {
      color: #BE9230;
      font-weight: 600;
      font-size: 14px;
      line-height: 22px;
      text-transform: uppercase;
      margin: 0 0 20px;
    }

    .address {
      font-size: 16px;
      line-height: 22px;
    }

    .text-bold {
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      margin: 0 0 20px;
    }

    .link {
      font-size: 16px;
      line-height: 20px;
      color: #595E65;
      margin: 0 0 10px;

      &:hover {
        color: #0033A1;
      }
    }

    .link-bold {
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      margin: 0 0 10px;

      &:hover {
        color: #0033A1;
      }
    }

    .icon-instagram {
      display: block;
      margin: 20px 0 0;
    }

    .calculator-wrapper {
      margin: 30px 0 0;

      .calculator {
        @include base-button(#0033A1);
        display: inline-block;
      }
    }
  }

  .separator {
    @include separator(#D4D7DB);
  }

  .policy {
    @include flex-h-sb;
    padding: 25px 0;

    .text {
      margin: 0 0 5px;
      font-size: 14px;
      line-height: 19px;
      color: #A4A8AC;
    }

    .link {
      margin: 0 0 5px;
      font-size: 14px;
      line-height: 20px;
      text-align: right;
      text-decoration-line: underline;
      color: #0033A1;
    }
  }

  .line {
    width: 100%;
    height: 80px;
    background: #0033A1;
  }
}