.header {
  width: 100%;
  background: #FFFFFF;
  position: relative;
  z-index: 3;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.07);

  .nav-menu {
    @include flex-all-sb;
    padding: 15px 0;

    .menu {
      @include flex-all-sb;

      .item {
        position: relative;
        cursor: pointer;
        color: #2D3341;
        font-family: 'Tahoma';
        font-size: 16px;
        line-height: 19px;

        .arrow {
          margin: 0 0 2px 0;
        }

        &:not(:last-of-type) {
          margin: 0 28px 0 0;
        }

        button {
          font-family: 'Tahoma';
        }

        a:hover,
        button:hover {
          color: #0033A1;
        }

        .dropdown-content {
          display: none;
          position: absolute;
          z-index: 4;
          padding: 15px 30px;
          background: #FFFFFF;
          color: #595E65;
          font-family: 'Tahoma';
          font-size: 16px;
          line-height: 19px;
          box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.07);
          border-radius: 0px 0px 8px 8px;

          .control {
            display: none;
          }

          .link {
            width: 250px;
            padding: 15px 10px 15px 0;
            
            &:not(:last-child) {
              border-bottom: 1px solid #D4D7DB;
            }
          }

          a {
            position: relative;
            display: block;
            width: 100%;

            &:hover {
              color: #0033A1;

              &:after {
                content: '›';
                position: absolute;
                right: -10px;
                color: #BE9230;
              }
            }
          }
        }

        &:hover .dropdown-content {
          display: block;
        }
      }

      .calculator {
        @include base-button(#0033A1);
        margin: 0 0 0 50px;
      }
    }

    .sub-info {
      display: none;
    }

    .burger {
      display: none;
    }
  }

  @include small-screen {
    position: fixed;

    .nav-menu {
      padding: 10px 0;

      .logo {
        height: 40px;
      }

      .menu {
        box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.07);
        position: fixed;
        left: 100vw;
        top: 59px;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        min-height: calc(100vh - 59px);
        background: #FFFFFF;
        flex-direction: column;
        padding: 0 20px 20px;

        .item {
          position: static;
          border-bottom: 1px solid #D4D7DB;
          width: 100%;

          &:not(:last-of-type) {
            margin: 0;
          }

          .item-button,
          a {
            display: block;
            width: 100%;
            text-align: left;
            padding: 15px 0;

            &:hover {
              background: rgba(131, 177, 219, 0.2);
            }
          }

          .item-button {
            position: relative;

            &:after {
              content: '›';
              position: absolute;
              right: 0;
              color: #A4A8AC;
            }
          }

          img {
            display: none;
          }

          & .dropdown-content {
            cursor: default;
            display: block;
            padding: 40px 20px;
            width: 100%;
            min-height: calc(100vh - 49px);
            left: 100vw;
            top: 0;
            box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.07);
            border-radius: 0px;

            .control {
              @include flex-all-sb;
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 40px;
              padding: 0 20px;
              background: #0033A1;

              button {
                font-size: 12px;
                line-height: 14px;
                text-transform: uppercase;
                color: #FFFFFF;
              }

              .name {
                font-family: Tahoma;
                font-size: 16px;
                line-height: 19px;
                color: #FFFFFF;
              }
            }

            .link {
              width: 100%;
              padding: 0;
              border-bottom: 1px solid #D4D7DB;

              a {
                &:hover {
                  &:after {
                    content: '';
                  }
                }
              }
            }
          }
        }

        .calculator {
          margin: 40px 0 0;
          width: 100%;
          text-align: center;
        }

        .sub-info {
          display: block;
          position: absolute;
          left: 0;
          bottom: 20px;
          width: 100%;

          .row {
            text-align: center;
            font-size: 14px;
            line-height: 19px;
            text-align: center;
            color: #A4A8AC;
          }
        }
      }

      .burger {
        display: flex;
        flex-direction: column;
        width: 30px;
        cursor: pointer;

        span {
          background: #2D3341;
          height: 4px;
          transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);

          &:nth-of-type(1),
          &:nth-of-type(3) {
            width: 60%;
          }
          
          &:nth-of-type(2) {
            width: 100%;
          }

          &:not(:last-of-type) {
            margin: 0 0 5px;
          }
        }

        .burger-checkbox {
          display: none;
        }

        .burger-checkbox:checked ~ span:nth-of-type(1) {
          transform-origin: bottom;
          transform: rotatez(45deg) translate(16px, 1px)
        }
        
        .burger-checkbox:checked ~ span:nth-of-type(2) {
          transform-origin: top;
          transform: rotatez(-45deg)
        }
        
        .burger-checkbox:checked ~ span:nth-of-type(3) {
          transform-origin: bottom;
          width: 50%;
          transform: translate(2px, -15px) rotatez(45deg);
        }
      }
    }
  }
}