.answer {
  .title-line {
    @include bg-cover('../img/backgrounds/title-line.jpg');
    padding: 56px 0;
    
    .main-title {
      font-family: 'Tahoma';
      font-size: 40px;
      line-height: 48px;
      color: #FFFFFF;

      .text-bold {
        font-weight: bold;
      }
    }
  }

  .breadcrumb {
    .breadcrumb-wrapper {
      @include flex;
      margin: 40px 0 40px;
  
      .item {
        position: relative;
        padding: 0 25px 0 0;
        font-family: 'Tahoma';
        font-size: 13px;
        line-height: 16px;
        text-transform: uppercase;
        color: #A4A8AC;
        
        &:not(:last-child)::after {
          position: absolute;
          right: 6px;
          content: '—';
        }
  
        &:not(:last-child):hover {
          text-decoration: underline;
        }
      }
    }
  }

  .main-content {
    padding: 0 0 80px;

    .answer-list {
      padding: 0 120px;

      .list-item {
        position: relative;
        padding: 30px 0;
        width: 100%;
        font-weight: 600;
        font-size: 20px;
        line-height: 34px;
        color: #2D3341;
        border-bottom: 1px solid #D4D7DB;

        .content {
          position: relative;
          padding: 30px 120px 0 40px;
          font-style: italic;
          font-weight: 300;
          font-size: 18px;
          line-height: 28px;
          color: #2D3341;

          &::before {
            content: '';
            z-index: -1;
            width: 55px;
            height: 55px;
            left: 0;
            top: 20px;
            position: absolute;
            display: block;
            background: url('../img/elements/quote.svg') no-repeat 50% 50%;
          }
        }

        details {
          cursor: pointer;
        }
        
        details summary::-webkit-details-marker {
          display: none;
        }
        
        details > summary {
          list-style: none;
          position: relative;
          padding: 0 70px 0 0;
        }
        
        details summary:before {
          content: '';
          width: 50px;
          height: 50px;
          border-radius: 50%;
          right: 0;
          top: calc(50% - 25px);
          position: absolute;
          display: block;
          background: #0033A1 url('../img/elements/plus.svg') no-repeat 50% 50%;
        }
        
        details[open] summary:before {
          content: '';
          width: 50px;
          height: 50px;
          border-radius: 50%;
          right: 0;
          top: calc(50% - 25px);
          position: absolute;
          display: block;
          background: #0033A1 url('../img/elements/minus.svg') no-repeat 50% 50%;
        }
      }
    }
  }

  .question {
    .question-form {
      @include bg-cover('../img/backgrounds/question-form.jpg');
      width: 100%;
      border-radius: 20px;
      padding: 60px 120px 60px 600px;
      margin: 0 0 60px;

      .title {
        position: relative;
        font-family: 'Tahoma';
        font-size: 48px;
        line-height: 58px;
        color: #2D3341;
        margin: 0 0 30px;

        .text-bold {
          font-weight: bold;
        }

        &::before {
          position: absolute;
          left: -120px;
          top: 29px;
          content: '';
          background: #BE9230;
          width: 90px;
          height: 2px;
        }
      }

      .label-wrapper {
        font-size: 14px;
        line-height: 19px;
        text-transform: uppercase;
        color: #595E65;
        margin: 0 0 5px;
      }

      .star {
        color: #9d2862;
      }

      .input-container {
        @include flex-all-sb;
        margin: 0 0 15px;

        .input-wrapper {
          input {
            width: 210px;
            padding: 14px 20px;
            box-shadow: 0px 5px 45px rgba(0, 0, 0, 0.07);
            border-radius: 5px;
            border: none;
          }
        }
      }

      .select-wrapper {
        .theme {
          width: 100%;
          padding: 14px 20px;
          background: #ffffff url('../img/elements/arrow-down-blue.svg') no-repeat right 15px top 50%;
          box-shadow: 0px 5px 45px rgba(0, 0, 0, 0.07);
          border-radius: 5px;
          border: none;
          font-weight: 600;
          font-size: 16px;
          line-height: 22px;
          margin: 0 0 15px;
          -moz-appearance: none;
          -webkit-appearance: none;
          appearance: none;

          option {
            font-weight: 600;
            font-size: 16px;
            line-height: 22px;
          }
        }
      }

      .textarea-wrapper {
        .massage {
          width: 100%;
          height: 176px;
          padding: 14px 20px;
          box-shadow: 0px 5px 45px rgba(0, 0, 0, 0.07);
          border-radius: 5px;
          border: none;
          margin: 0 0 20px;
          resize: none;
          font-size: 16px;
          line-height: 22px;
          font-family: "Open Sans", sans-serif;
        }
      }
      
      .checkbox-wrapper {
        @include flex-v-center;
        margin: 0 0 10px;
        font-size: 14px;
        line-height: 19px;
        color: #2D3341;

        .policy {
          color: #0033A1;
          text-decoration: underline;
        }

        input {
          position: relative;
          width: 20px;
          height: 20px;
          -moz-appearance:none;
          -webkit-appearance:none;
          appearance:none;
          border-radius: 5px;
          background: #ffffff;
          color: #ffffff;
          margin: 0 10px 0 0;
          cursor: pointer;

          &:checked {
            background: #0033A1;
          }

          &:checked::after {
            content: '✔';
            position: absolute;
            left: 5px;
            top: 0;
          }
        }

        span {
          width: calc(100% - 30px);
        }
      }

      .recaptcha-wrapper {
        margin: 20px 0 30px;
      }

      .submit-wrapper {
        @include flex-h-center;

        .submit-button {
          @include base-button(#0033A1);
          padding: 14px 56px;
          font-weight: 600;
          font-size: 16px;
          line-height: 22px;
        }
      }
    }
  }

  @include small-screen {
    margin: 60px 0 0;

    .title-line {
      padding: 35px 0;
      
      .main-title {
        font-size: 24px;
        line-height: 29px;
      }
    }

    .breadcrumb {
      .breadcrumb-wrapper {
        margin: 20px 0;
  
        .item {
          font-size: 12px;
          line-height: 14px;
        }
      }
    }

    .main-content {
      .answer-list {
        padding: 0;

        .list-item {
          padding: 20px 0;
          font-size: 16px;
          line-height: 24px;

          .content {
            padding: 20px 0 0 10px;
            font-size: 16px;
            line-height: 24px;
          }
          
          details > summary {
            padding: 0 50px 0 0;
          }

          details summary:before {
            width: 36px;
            height: 36px;
            top: calc(50% - 18px);
            background-size: 50%;
          }

          details[open] summary:before {
            width: 36px;
            height: 36px;
            top: calc(50% - 18px);
            background-size: 50%;
          }
        }
      }
    }

    .question {
      .question-form {
        padding: 30px 20px 40px;

        .title {  
          margin: 0 0 30px 45px;
          font-size: 24px;
          line-height: 29px;
    
          &::before {
            left: -45px;
            width: 30px;
          }
        }
  
        .label-wrapper {
          font-size: 12px;
          line-height: 16px;
        }
  
        .input-container {
          display: block;

          .item {
            margin: 0 0 15px;
          }
  
          .input-wrapper {
            input {
              width: 100%;
            }
          }
        }
        
        .checkbox-wrapper {
          font-size: 12px;
          line-height: 16px;
        }
  
        .recaptcha-wrapper {
          margin: 20px 0 30px;
        }
  
        .submit-wrapper {
          @include flex-h-center;
  
          .submit-button {
            @include base-button(#0033A1);
            padding: 14px 56px;
            font-weight: 600;
            font-size: 16px;
            line-height: 22px;
          }
        }
      }
    }
  }
}