.calculator {
  .title-line-yellow,
  .title-line-blue,
  .title-line-pink {
    padding: 56px 0;
    
    .main-title {
      font-family: 'Tahoma';
      font-size: 40px;
      line-height: 48px;
      color: #2D3341;
      transition: all 100ms;
    }
  }

  .title-line-yellow {
    @include bg-cover('../img/backgrounds/title-line-yellow.jpg');
  }

  .title-line-blue {
    @include bg-cover('../img/backgrounds/title-line.jpg');

    .main-title {
      color: #FFFFFF;
    }
  }

  .title-line-pink {
    @include bg-cover('../img/backgrounds/title-line-pink.jpg');
  }

  .breadcrumb {
    .breadcrumb-wrapper {
      @include flex;
      margin: 40px 0 50px;

      .item {
        position: relative;
        padding: 0 25px 0 0;
        font-family: 'Tahoma';
        font-size: 13px;
        line-height: 16px;
        text-transform: uppercase;
        color: #A4A8AC;
        
        &:not(:last-child)::after {
          position: absolute;
          right: 6px;
          content: '—';
        }

        &:not(:last-child):hover {
          text-decoration: underline;
        }
      }
    }
  }

  .main-content {
    .small-container {
      width: 930px;
      margin: 0 auto;

      .title {
        font-family: Tahoma;
        font-size: 24px;
        line-height: 29px;
        color: #2D3341;
        margin: 0 0 30px;
      }

      .main-content-wrapper {
        width: 100%;
        padding: 40px;
        margin: 0 0 60px;
        background: #FFFFFF;
        border-radius: 20px;
        box-shadow: 0px 5px 45px rgba(0, 0, 0, 0.07);

        .control {
          @include flex;
          width: 100%;
          height: 255px;

          button {
            position: relative;
            width: calc(50% - 15px);
            border-radius: 20px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            filter: grayscale(100%);
            cursor: pointer;
            font-weight: 600;
            font-size: 16px;
            line-height: 22px;
            text-transform: uppercase;
      
            &:first-child {
              margin: 0 30px 0 0;
              
              .text {
                position: absolute;
                left: 30px;
                bottom: 25px;
                color: #9F2863;
              }
            }

            &:last-child {
              .text {
                position: absolute;
                left: 30px;
                bottom: 25px;
                color: #0033A1;
              }
            }

            .checkbox {
              position: absolute;
              right: 15px;
              top: 15px;
              width: 30px;
              height: 30px;
              border-radius: 50%;
              background: #FFFFFF url('../img/elements/check.svg') no-repeat 50% 50% / 60%;
            }

            &:hover {
              filter: grayscale(50%);
            }

            &.active {
              filter: grayscale(0%);

              &:first-child .checkbox {
                background-color: #9F2863;
              }

              &:last-child .checkbox {
                background-color: #0033A1;
              }
            }
          }
        }
      }
      
      .content {
        .cosmetology-info {
          display: none;
          margin: 50px 0 0;

          &.active {
            display: block;
          }

          .subtitle {
            padding: 30px 0;
            margin: 0 0 50px;
            border-top: 1px solid #BE9230;
            border-bottom: 1px solid #BE9230;
            font-size: 18px;
            line-height: 30px;
          }

          .select-title {
            @include flex-v-center;
            font-size: 14px;
            line-height: 19px;
            text-transform: uppercase;
            color: #595E65;
            margin: 0 0 15px;

            .title-icon {
              @include bg-cover('../img/elements/help.svg');
              position: relative;
              width: 20px;
              height: 20px;
              margin: 0 0 0 5px;
  
              .injector-hint {
                display: none;
                position: absolute;
                left: 10px;
                bottom: 25px;
                z-index: 10;
                width: 350px;
                background: #FFFFFF;
                box-shadow: 0px 5px 45px rgba(0, 0, 0, 0.07);
                padding: 20px;
                border-radius: 20px;
                text-transform: none;
                font-style: italic;
                font-weight: 300;
                font-size: 14px;
                line-height: 22px;
                letter-spacing: 0.02em;
                color: #2D3341;

                &::after {
                  position: absolute;
                  z-index: 11;
                  left: -2px;
                  bottom: -25px;
                  content: '';
                  width: 30px;
                  height: 50px;
                  background: url('../img/elements/triangle.svg') no-repeat 50% 50% / cover;
                }

                .text {
                  &:not(:last-child) {
                    margin: 0 0 20px;
                  }
                }

                .list {
                  list-style: disc;
                  margin: 0 0 15px 25px;

                  li {
                    margin: 0 0 5px;

                    &::marker {
                      color: #BE9230;
                    }
                  }
                }
              }

              &:hover .injector-hint {
                display: block;
              }
            }
          }

          .injector-select {
            @include custom-select;
            margin: 0 0 10px;
          }

          .injector {
            position: relative;
            width: 850px;
            height: 150px;
            border: 1px dashed #D4D7DB;
            border-radius: 5px;
            margin: 0 0 40px;

            .left-part {
              height: 44px;
              position: absolute;
              left: 100px;
              top: calc(50% - 22px);
            }

            .right-part {
              height: 76px;
              position: absolute;
              right: 100px;
              top: calc(50% - 38px);
            }
          }

          .dose-select {
            @include custom-select;
            margin: 0 0 40px;

            .input-sub-text {
              display: block;
              font-style: italic;
              font-weight: 300;
              font-size: 14px;
              line-height: 15px;
              color: #595E65;
              padding: 10px 0 0;
            }
          }

          .calculation {
            display: none;

            &.active {
              @include flex-h-center;
            }

            .calculation-button {
              @include base-button(#0033A1);
              padding: 14px 110px;
              cursor: pointer;

              &[disabled] {
                background: #A4A8AC;
              }
            }
          }
          
          .result {
            display: none;
            border: 2px solid #FBCBBB;
            border-radius: 20px;
            padding: 35px 40px 40px;

            &.active {
              display: block;
            }

            .title {
              font-family: Tahoma;
              font-size: 24px;
              line-height: 29px;
            }
            
            .list {
              margin: 0 0 40px;
              
              .row {
                @include flex;
                font-size: 16px;
                line-height: 24px;

                &:not(:last-child) {
                  margin: 0 0 20px;
                }
                
                &:last-child {
                  font-weight: bold;
                  font-size: 18px;
                }

                .first-column {
                  @include flex;
                  position: relative;
                  width: 65%;

                  &::after {
                    position: absolute;
                    content: '';
                    width: 100%;
                    height: 22px;
                    border-bottom: 1px dashed #2D3341;
                  }

                  .text {
                    position: relative;
                    z-index: 3;
                    background: #ffffff;
                    text-transform: uppercase;
                  }
                }
              }
            }

            .buttons-container {
              @include flex-all-sb;

              .button {
                @include flex-all-center;
                width: 33.33%;
                padding: 14px 0;
                border-radius: 100px;
                font-size: 16px;
                line-height: 22px;
                color: #0033A1;
                border: 1px solid #0033A1;

                &:not(:last-child) {
                  margin: 0 10px 0 0;
                }

                &:last-child {
                  background: #0033A1;
                  font-weight: 600;
                  font-size: 16px;
                  line-height: 22px;
                  color: #FFFFFF;
                }

                img {
                  margin: 0 10px 0 0;
                }
              }
            }
          }
        }

        .neurology-info {
          display: none;
          margin: 50px 0 0;

          &.active {
            display: block;
          }

          .subtitle {
            padding: 30px 0;
            margin: 0 0 50px;
            border-top: 1px solid #BE9230;
            border-bottom: 1px solid #BE9230;
            font-size: 18px;
            line-height: 30px;
          }

          .select-title {
            @include flex-v-center;
            font-size: 14px;
            line-height: 19px;
            text-transform: uppercase;
            color: #595E65;
            margin: 0 0 15px;
          }

          .indications-select {
            @include custom-select;
            margin: 0 0 40px;
            
            .small-text {
              font-style: italic;
              font-weight: 300;
              font-size: 14px;
              line-height: 18px;
              color: #595E65;
            }
          }

          .selects-container {
            @include flex-all-sb;

            .item {
              width: calc(50% - 15px);
              margin-bottom: 50px;

              &:first-child {
                margin-right: 30px;
              }

              .age-select {
                @include custom-select;
              }

              .weight-input {
                position: relative;

                input {
                  width: 100%;
                  border: none;
                  font-weight: 600;
                  font-size: 16px;
                  line-height: 22px;
                  color: #2D3341;
                  background: #F3F3F3;
                  border-radius: 5px;
                  padding: 14px 20px;
                }
                
                .error {
                  position: absolute;
                  bottom: -25px;
                  left: 10px;
                  font-style: italic;
                  font-size: 14px;
                  line-height: 20px;
                  color: #DC3434;
                }
              }
            }
          }

          .title {
            font-family: Tahoma;
            font-size: 24px;
            line-height: 29px;
            color: #2D3341;
            margin: 0 0 30px;
          }

          .body-container {
            @include flex-h-sb;
            align-items: flex-start;
            flex-wrap: wrap;

            .body-preview {
              margin: 0 30px 40px 0;
              width: 290px;

              .image {
                display: block;
                width: 100%;
                border: 1px solid #D4D7DB;
                border-radius: 5px;
                margin: 0 0 10px;
              }

              .sub-text {
                font-style: italic;
                font-weight: 300;
                font-size: 12px;
                line-height: 18px;
                color: #595E65;
              }
            }

            .body-selects {
              width: calc(100% - 290px - 30px);
              margin: 0 0 40px 0;

              .part-select,
              .muscle-select,
              .mas-select {
                @include custom-select;
                margin: 0 0 40px;
              }

              .title-icon {
                @include bg-cover('../img/elements/help.svg');
                position: relative;
                width: 20px;
                height: 20px;
                margin: 0 0 0 5px;
    
                .injector-hint {
                  display: none;
                  position: absolute;
                  left: 10px;
                  bottom: 25px;
                  z-index: 10;
                  width: 350px;
                  background: #FFFFFF;
                  box-shadow: 0px 5px 45px rgba(0, 0, 0, 0.07);
                  padding: 20px;
                  border-radius: 20px;
                  text-transform: none;
                  font-style: italic;
                  font-weight: 300;
                  font-size: 14px;
                  line-height: 22px;
                  letter-spacing: 0.02em;
                  color: #2D3341;
  
                  &::after {
                    position: absolute;
                    z-index: 11;
                    left: -2px;
                    bottom: -25px;
                    content: '';
                    width: 30px;
                    height: 50px;
                    background: url('../img/elements/triangle.svg') no-repeat 50% 50% / cover;
                  }

                  .title {
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 22px;
                    letter-spacing: 0.02em;
                    color: #2D3341;
                  }
  
                  .text {
                    .text-bold {
                      font-style: normal;
                    }

                    &:not(:last-child) {
                      margin: 0 0 20px;
                    }
                  }
                }
  
                &:hover .injector-hint {
                  display: block;
                }
              }

              .muscle-adding {
                border: 1px solid #0033A1;
                border-radius: 100px;
                padding: 10px 30px;
                font-size: 14px;
                line-height: 19px;
                color: #0033A1;
              }
            }

            .table {
              width: 100%;
              margin: 0 0 40px;

              .title-row,
              .row {
                @include flex-all-sb;
                border-bottom: 1px solid #D4D7DB;
              }
              
              .title-row {
                font-weight: 600;
                font-size: 14px;
                line-height: 19px;
                text-transform: uppercase;
                color: #2D3341;
                padding: 0 0 20px;

                .name {
                  width: calc(65% - 20px);
                  margin: 0 20px 0 0;
                }

                .mas {
                  width: 35%;
                }
              }

              .row {
                padding: 20px 0;

                .name {
                  width: calc(65% - 20px);
                  margin: 0 20px 0 0;
                  font-size: 16px;
                  line-height: 22px;
                  text-decoration-line: underline;
                  color: #0033A1;
                }

                .mas {
                  width: calc(35% - 20px - 20px);
                  margin: 0 20px 0 0;
                  font-size: 16px;
                  line-height: 22px;
                  color: #595E65;
                }

                .remove {
                  position: relative;
                  width: 20px;
                  height: 20px;
                  background: url('../img/elements/cross.svg') no-repeat 50% 50% / cover;
                  border-radius: 50%;
                }
              }
            }
          }

          .calculation {
            display: none;

            &.active {
              @include flex-h-center;
            }

            .calculation-button {
              @include base-button(#0033A1);
              padding: 14px 110px;
              cursor: pointer;

              &[disabled] {
                background: #A4A8AC;
              }
            }
          }
          
          .result {
            display: none;
            border: 2px solid #83B1DB;
            border-radius: 20px;
            padding: 35px 40px 40px;

            &.active {
              display: block;
            }

            .title {
              font-family: Tahoma;
              font-size: 24px;
              line-height: 29px;
            }
            
            .list {              
              .row {
                @include flex;
                font-size: 16px;
                line-height: 24px;

                &:not(:last-child) {
                  margin: 0 0 20px;
                }
                
                &:last-child {
                  font-weight: bold;
                  font-size: 18px;
                  text-transform: uppercase;
                  color: #DC3434;

                  .first-column::after {
                    border-bottom: 1px dashed #DC3434;
                  }
                }

                .first-column {
                  @include flex;
                  position: relative;
                  width: 65%;

                  &::after {
                    position: absolute;
                    content: '';
                    width: 100%;
                    height: 22px;
                    border-bottom: 1px dashed #2D3341;
                  }

                  .text {
                    position: relative;
                    z-index: 3;
                    background: #ffffff;
                  }
                }
              }
            }

            .sub-text {
              margin: 20px 0 0;
              font-style: italic;
              font-size: 14px;
              line-height: 20px;
              color: #DC3434;
            }

            .buttons-container {
              @include flex-all-sb;
              margin: 40px 0 0;

              .button {
                @include flex-all-center;
                width: 33.33%;
                padding: 14px 0;
                border-radius: 100px;
                font-size: 16px;
                line-height: 22px;
                color: #0033A1;
                border: 1px solid #0033A1;

                .mail-icon {
                  @include bg-cover('../img/icons/mail-empty.svg');
                  display: inline-block;
                  width: 15px;
                  height: 15px;
                  margin: 0 5px 0 0;
                }

                .phone-icon {
                  @include bg-cover('../img/icons/phone-empty.svg');
                  display: inline-block;
                  width: 15px;
                  height: 15px;
                  margin: 0 5px 0 0;
                }

                &[disabled] {
                  color: #A4A8AC;
                  border: 1px solid #A4A8AC;

                  .mail-icon {
                    @include bg-cover('../img/icons/mail-empty-disabled.svg');
                  }

                  .phone-icon {
                    @include bg-cover('../img/icons/phone-empty-disabled.svg');
                  }
                }

                &:not(:last-child) {
                  margin: 0 10px 0 0;
                }

                &:last-child {
                  border: none;
                  background: #0033A1;
                  font-weight: 600;
                  font-size: 16px;
                  line-height: 22px;
                  color: #FFFFFF;

                  &[disabled] {
                    background: #A4A8AC;
                  }
                }

                img {
                  margin: 0 10px 0 0;
                }
              }
            }
          }
        }
      }
    }
  }

  @include small-screen {
    margin: 50px 0 0;

    .title-line-yellow,
    .title-line-blue,
    .title-line-pink {
      padding: 35px 0;
      
      .main-title {
        font-size: 24px;
        line-height: 29px;
      }
    }

    .breadcrumb {
      .breadcrumb-wrapper {
        margin: 20px 0;
  
        .item {
          font-size: 12px;
          line-height: 14px;
        }
      }
    }

    .main-content {
      .small-container {
        width: 100%;
        margin: 0;
  
        .title {
          font-size: 20px;
          line-height: 24px;
          margin: 0 0 15px;
        }
  
        .main-content-wrapper {
          width: 100%;
          padding: 20px;
          margin: 0 0 40px;
  
          .control {
            flex-direction: column;
            width: 100%;
            height: auto;
  
            button {      
              width: 100%;
              height: 220px;

              &:first-child {
                margin: 0 0 15px;
                
                .text {
                  left: 20px;
                  bottom: 15px;
                  font-size: 14px;
                  line-height: 19px;
                }
              }
  
              &:last-child {
                .text {
                  left: 20px;
                  bottom: 15px;
                  font-size: 14px;
                  line-height: 19px;
                }
              }
            }
          }
        }

        .content {
          .cosmetology-info {
            margin: 30px 0 0;
  
            .subtitle {
              padding: 20px 0;
              margin: 0 0 30px;
              font-size: 16px;
              line-height: 24px;
            }
  
            .select-title {
              @include flex-v-center;
              font-size: 14px;
              line-height: 19px;
              text-transform: uppercase;
              color: #595E65;
              margin: 0 0 15px;
  
              .title-icon {
                @include bg-cover('../img/elements/help.svg');
                position: relative;
                width: 20px;
                height: 20px;
                margin: 0 0 0 5px;
    
                .injector-hint {
                  width: 60vw;
                  padding: 15px;
                  font-size: 13px;
                  line-height: 18px;
  
                  .text {
                    &:not(:last-child) {
                      margin: 0 0 15px;
                    }
                  }
  
                  .list {
                    list-style: disc;
                    margin: 0 0 15px 20px;
                  }
                }
              }
            }
  
            .injector {
              position: relative;
              width: 100%;
              height: 100px;
              margin: 0 0 25px;
  
              .left-part {
                height: 18px;
                position: absolute;
                left: 100px;
                top: calc(50% - 9px);
              }
  
              .right-part {
                height: 30px;
                position: absolute;
                right: 100px;
                top: calc(50% - 15px);
              }
            }
  
            .dose-select {
              @include custom-select;
              margin: 0 0 40px;
  
              .input-sub-text {
                display: block;
                font-style: italic;
                font-weight: 300;
                font-size: 14px;
                line-height: 15px;
                color: #595E65;
                padding: 10px 0 0;
              }
            }
  
            .calculation {
              display: none;
  
              &.active {
                @include flex-h-center;
              }
  
              .calculation-button {
                @include base-button(#0033A1);
                padding: 14px 110px;
                cursor: pointer;
  
                &[disabled] {
                  background: #A4A8AC;
                }
              }
            }
            
            .result {
              display: none;
              border: 2px solid #FBCBBB;
              border-radius: 20px;
              padding: 35px 40px 40px;
  
              &.active {
                display: block;
              }
  
              .title {
                font-family: Tahoma;
                font-size: 24px;
                line-height: 29px;
              }
              
              .list {
                margin: 0 0 40px;
                
                .row {
                  @include flex;
                  font-size: 16px;
                  line-height: 24px;
  
                  &:not(:last-child) {
                    margin: 0 0 20px;
                  }
                  
                  &:last-child {
                    font-weight: bold;
                    font-size: 18px;
                  }
  
                  .first-column {
                    @include flex;
                    position: relative;
                    width: 65%;
  
                    &::after {
                      position: absolute;
                      content: '';
                      width: 100%;
                      height: 22px;
                      border-bottom: 1px dashed #2D3341;
                    }
  
                    .text {
                      position: relative;
                      z-index: 3;
                      background: #ffffff;
                      text-transform: uppercase;
                    }
                  }
                }
              }
  
              .buttons-container {
                @include flex-all-sb;
  
                .button {
                  @include flex-all-center;
                  width: 33.33%;
                  padding: 14px 0;
                  border-radius: 100px;
                  font-size: 16px;
                  line-height: 22px;
                  color: #0033A1;
                  border: 1px solid #0033A1;
  
                  &:not(:last-child) {
                    margin: 0 10px 0 0;
                  }
  
                  &:last-child {
                    background: #0033A1;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 22px;
                    color: #FFFFFF;
                  }
  
                  img {
                    margin: 0 10px 0 0;
                  }
                }
              }
            }
          }
  
          .neurology-info {
            display: none;
            margin: 50px 0 0;
  
            &.active {
              display: block;
            }
  
            .subtitle {
              padding: 30px 0;
              margin: 0 0 50px;
              border-top: 1px solid #BE9230;
              border-bottom: 1px solid #BE9230;
              font-size: 18px;
              line-height: 30px;
            }
  
            .select-title {
              @include flex-v-center;
              font-size: 14px;
              line-height: 19px;
              text-transform: uppercase;
              color: #595E65;
              margin: 0 0 15px;
            }
  
            .indications-select {
              @include custom-select;
              margin: 0 0 40px;
              
              .small-text {
                font-style: italic;
                font-weight: 300;
                font-size: 14px;
                line-height: 18px;
                color: #595E65;
              }
            }
  
            .selects-container {
              @include flex-all-sb;
  
              .item {
                width: calc(50% - 15px);
                margin-bottom: 50px;
  
                &:first-child {
                  margin-right: 30px;
                }
  
                .age-select {
                  @include custom-select;
                }
  
                .weight-input {
                  position: relative;
  
                  input {
                    width: 100%;
                    border: none;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 22px;
                    color: #2D3341;
                    background: #F3F3F3;
                    border-radius: 5px;
                    padding: 14px 20px;
                  }
                  
                  .error {
                    position: absolute;
                    bottom: -25px;
                    left: 10px;
                    font-style: italic;
                    font-size: 14px;
                    line-height: 20px;
                    color: #DC3434;
                  }
                }
              }
            }
  
            .title {
              font-family: Tahoma;
              font-size: 24px;
              line-height: 29px;
              color: #2D3341;
              margin: 0 0 30px;
            }
  
            .body-container {
              @include flex-h-sb;
              align-items: flex-start;
              flex-wrap: wrap;
  
              .body-preview {
                margin: 0 30px 40px 0;
                width: 290px;
  
                .image {
                  display: block;
                  width: 100%;
                  border: 1px solid #D4D7DB;
                  border-radius: 5px;
                  margin: 0 0 10px;
                }
  
                .sub-text {
                  font-style: italic;
                  font-weight: 300;
                  font-size: 12px;
                  line-height: 18px;
                  color: #595E65;
                }
              }
  
              .body-selects {
                width: calc(100% - 290px - 30px);
                margin: 0 0 40px 0;
  
                .part-select,
                .muscle-select,
                .mas-select {
                  @include custom-select;
                  margin: 0 0 40px;
                }
  
                .title-icon {
                  @include bg-cover('../img/elements/help.svg');
                  position: relative;
                  width: 20px;
                  height: 20px;
                  margin: 0 0 0 5px;
      
                  .injector-hint {
                    display: none;
                    position: absolute;
                    left: 10px;
                    bottom: 25px;
                    z-index: 10;
                    width: 350px;
                    background: #FFFFFF;
                    box-shadow: 0px 5px 45px rgba(0, 0, 0, 0.07);
                    padding: 20px;
                    border-radius: 20px;
                    text-transform: none;
                    font-style: italic;
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 22px;
                    letter-spacing: 0.02em;
                    color: #2D3341;
    
                    &::after {
                      position: absolute;
                      z-index: 11;
                      left: -2px;
                      bottom: -25px;
                      content: '';
                      width: 30px;
                      height: 50px;
                      background: url('../img/elements/triangle.svg') no-repeat 50% 50% / cover;
                    }
  
                    .title {
                      font-style: normal;
                      font-weight: 600;
                      font-size: 14px;
                      line-height: 22px;
                      letter-spacing: 0.02em;
                      color: #2D3341;
                    }
    
                    .text {
                      .text-bold {
                        font-style: normal;
                      }
  
                      &:not(:last-child) {
                        margin: 0 0 20px;
                      }
                    }
                  }
    
                  &:hover .injector-hint {
                    display: block;
                  }
                }
  
                .muscle-adding {
                  border: 1px solid #0033A1;
                  border-radius: 100px;
                  padding: 10px 30px;
                  font-size: 14px;
                  line-height: 19px;
                  color: #0033A1;
                }
              }
  
              .table {
                width: 100%;
                margin: 0 0 40px;
  
                .title-row,
                .row {
                  @include flex-all-sb;
                  border-bottom: 1px solid #D4D7DB;
                }
                
                .title-row {
                  font-weight: 600;
                  font-size: 14px;
                  line-height: 19px;
                  text-transform: uppercase;
                  color: #2D3341;
                  padding: 0 0 20px;
  
                  .name {
                    width: calc(65% - 20px);
                    margin: 0 20px 0 0;
                  }
  
                  .mas {
                    width: 35%;
                  }
                }
  
                .row {
                  padding: 20px 0;
  
                  .name {
                    width: calc(65% - 20px);
                    margin: 0 20px 0 0;
                    font-size: 16px;
                    line-height: 22px;
                    text-decoration-line: underline;
                    color: #0033A1;
                  }
  
                  .mas {
                    width: calc(35% - 20px - 20px);
                    margin: 0 20px 0 0;
                    font-size: 16px;
                    line-height: 22px;
                    color: #595E65;
                  }
  
                  .remove {
                    position: relative;
                    width: 20px;
                    height: 20px;
                    background: url('../img/elements/cross.svg') no-repeat 50% 50% / cover;
                    border-radius: 50%;
                  }
                }
              }
            }
  
            .calculation {
              display: none;
  
              &.active {
                @include flex-h-center;
              }
  
              .calculation-button {
                @include base-button(#0033A1);
                padding: 14px 110px;
                cursor: pointer;
  
                &[disabled] {
                  background: #A4A8AC;
                }
              }
            }
            
            .result {
              display: none;
              border: 2px solid #83B1DB;
              border-radius: 20px;
              padding: 35px 40px 40px;
  
              &.active {
                display: block;
              }
  
              .title {
                font-family: Tahoma;
                font-size: 24px;
                line-height: 29px;
              }
              
              .list {              
                .row {
                  @include flex;
                  font-size: 16px;
                  line-height: 24px;
  
                  &:not(:last-child) {
                    margin: 0 0 20px;
                  }
                  
                  &:last-child {
                    font-weight: bold;
                    font-size: 18px;
                    text-transform: uppercase;
                    color: #DC3434;
  
                    .first-column::after {
                      border-bottom: 1px dashed #DC3434;
                    }
                  }
  
                  .first-column {
                    @include flex;
                    position: relative;
                    width: 65%;
  
                    &::after {
                      position: absolute;
                      content: '';
                      width: 100%;
                      height: 22px;
                      border-bottom: 1px dashed #2D3341;
                    }
  
                    .text {
                      position: relative;
                      z-index: 3;
                      background: #ffffff;
                    }
                  }
                }
              }
  
              .sub-text {
                margin: 20px 0 0;
                font-style: italic;
                font-size: 14px;
                line-height: 20px;
                color: #DC3434;
              }
  
              .buttons-container {
                @include flex-all-sb;
                margin: 40px 0 0;
  
                .button {
                  @include flex-all-center;
                  width: 33.33%;
                  padding: 14px 0;
                  border-radius: 100px;
                  font-size: 16px;
                  line-height: 22px;
                  color: #0033A1;
                  border: 1px solid #0033A1;
  
                  .mail-icon {
                    @include bg-cover('../img/icons/mail-empty.svg');
                    display: inline-block;
                    width: 15px;
                    height: 15px;
                    margin: 0 5px 0 0;
                  }
  
                  .phone-icon {
                    @include bg-cover('../img/icons/phone-empty.svg');
                    display: inline-block;
                    width: 15px;
                    height: 15px;
                    margin: 0 5px 0 0;
                  }
  
                  &[disabled] {
                    color: #A4A8AC;
                    border: 1px solid #A4A8AC;
  
                    .mail-icon {
                      @include bg-cover('../img/icons/mail-empty-disabled.svg');
                    }
  
                    .phone-icon {
                      @include bg-cover('../img/icons/phone-empty-disabled.svg');
                    }
                  }
  
                  &:not(:last-child) {
                    margin: 0 10px 0 0;
                  }
  
                  &:last-child {
                    border: none;
                    background: #0033A1;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 22px;
                    color: #FFFFFF;
  
                    &[disabled] {
                      background: #A4A8AC;
                    }
                  }
  
                  img {
                    margin: 0 10px 0 0;
                  }
                }
              }
            }
          }
        }
      }
    }  
  }
}
