.main {
  .title {
    position: relative;
    font-family: 'Tahoma';
    font-size: 48px;
    line-height: 58px;
    color: #2D3341;
    margin: 0 0 30px;

    &::before {
      position: absolute;
      left: -120px;
      top: calc(50% - 1px);
      content: '';
      background: #BE9230;
      width: 90px;
      height: 2px;
    }
  }

  .main-slider-section {
    position: relative;

    .main-slider-button-prev {
      position: absolute;
      display: block;
      left: 30px;
      top: calc(50% - 30px);
      z-index: 2;
      width: 60px;
      height: 60px;
      background: #FFFFFF url('../img/elements/arrow-left-blue.svg') no-repeat 50% 50%;
      box-shadow: 0px 5px 45px rgba(0, 0, 0, 0.07);
      border-radius: 50%;
      cursor: pointer;
    }

    .main-slider-button-next {
      position: absolute;
      right: 30px;
      top: calc(50% - 30px);
      z-index: 2;
      width: 60px;
      height: 60px;
      background: #FFFFFF url('../img/elements/arrow-left-blue.svg') no-repeat 50% 50%;
      box-shadow: 0px 5px 45px rgba(0, 0, 0, 0.07);
      border-radius: 50%;
      cursor: pointer;
      transform: matrix(-1, 0, 0, 1, 0, 0);
    }
    
    &::after {
      position: absolute;
      bottom: -60px;
      left: 47%;
      content: url('../img/partials/bottle.png');
      z-index: 2;
      width: 341px;
      height: 325px;
    }

    .main-slider {
      width: 100%;

      .slide {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }

      .content {
        padding: 140px 0;

        .title {
          font-size: 16px;
          line-height: 19px;
          margin: 0 0 30px 120px;
        }

        .big-text {
          width: 800px;
          font-family: 'Mojito Web';
          font-size: 130px;
          line-height: 130px;
          color: #BE9230;
          margin: 0 0 20px;
        }

        .sub-text {
          width: 650px;
          font-size: 24px;
          line-height: 30px;
          color: #9F2863;
          margin: 0 0 60px;
        }

        .link {
          @include base-button(#0033A1);
          display: inline-block;
        }
      }
    }
  }

  .about-drug {
    position: relative;
    z-index: 2;

    .about-drug-wrapper {
      padding: 100px 0 0;

      .title {
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        text-transform: uppercase;
        margin: 0 0 40px 120px;
      }

      .content {
        display: grid;
        grid-template-columns: calc(100% - 480px) 480px;
        width: 100%;
        box-shadow: 0px 5px 45px rgba(0, 0, 0, 0.07);
        border-radius: 20px;

        .main-info {
          padding: 60px 120px 70px;
          border-radius: 20px 0px 0px 20px;

          .inner-title {
            font-family: 'Tahoma';
            font-size: 48px;
            line-height: 58px;
            color: #2D3341;
            margin: 0 0 30px;
          }

          .text {
            font-size: 18px;
            line-height: 28px;
            margin: 0 0 150px;
          }
          
          .item-wrapper {
            &:not(:last-child) {
              margin: 0 0 10px;
            }
          }

          .item {
            position: relative;
            display: inline-block;
            font-weight: 600;
            font-size: 16px;
            line-height: 22px;
            text-transform: uppercase;
            color: #0033A1;

            &::after {
              position: absolute;
              content: url('../img/elements/arrow-right-yellow.svg');
              right: -30px;
              top: 0;
            }
          }
        }

        .developing {
          @include bg-cover('../img/backgrounds/about-drug-image.jpg');
          padding: 60px 50px 70px;
          border-radius: 0px 20px 20px 0px;

          .text {
            font-family: 'Tahoma';
            font-size: 24px;
            line-height: 38px;
            color: #FFFFFF;
            margin: 0 0 305px;
          }

          .item {
            @include base-button(#BE9230);
            display: inline-block;
          }
        }
      }
    }
  }

  .our-advantages {
    @include bg-cover('../img/backgrounds/bubbles.jpg');
    padding: 80px 0 100px;

    .title {
      font-family: 'Tahoma';
      font-weight: bold;
      font-size: 16px;
      line-height: 19px;
      text-transform: uppercase;
      margin: 0 0 10px 120px;
    }

    .inner-title {
      font-family: 'Tahoma';
      font-size: 48px;
      line-height: 58px;
      margin: 0 0 80px 120px;
    }

    .content {
      padding: 0 0 0 120px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      width: 100%;
      column-gap: 75px;
      row-gap: 60px;

      .item {
        @include flex-v-center;

        .icon {
          width: 90px;
          height: 90px;
          margin: 0 30px 0 0;
          border: 1px solid #83B1DB;
          border-radius: 50%;
        }

        .text {
          font-weight: 300;
          font-size: 20px;
          line-height: 26px;
        }

        .effect {
          background: url('../img/icons/effect.svg') no-repeat 50% 50% / 65%;
        }
        .report {
          background: url('../img/icons/report.svg') no-repeat 50% 50% / 65%;
        }
        .methodology {
          background: url('../img/icons/methodology.svg') no-repeat 50% 50% / 65%;
        }
        .warranty {
          background: url('../img/icons/warranty.svg') no-repeat 50% 50% / 65%;
        }
        .russia {
          background: url('../img/icons/russia.svg') no-repeat 50% 50% / 65%;
        }
        .confession {
          background: url('../img/icons/confession.svg') no-repeat 50% 50% / 65%;
        }
      }
    }
  }

  .application {
    padding: 80px 0;

    .title {
      margin: 0 0 50px 120px;
    }

    .content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 30px;

      .item {
        position: relative;
        min-height: 560px;
        padding: 45px 230px 115px 60px;
        border-radius: 20px;

        .inner-title {
          font-family: 'Mojito Web';
          font-size: 72px;
          line-height: 70px;
          margin: 0 0 30px;
        }

        li {
          font-size: 18px;
          line-height: 26px;
          list-style-type: disc;
          margin-left: 18px;

          &:not(:last-child) {
            margin-bottom: 20px;
          }

          &::marker {
            color: #BE9230;
          }
        }
        
        .details {
          position: absolute;
          left: 60px;
          bottom: 50px;
        }

        &.cosmetology {
          @include bg-cover('../img/backgrounds/application1.jpg');

          .inner-title {
            color: #9F2863;
          }

          .details {
            @include base-button(#9F2863);
          }
        }

        &.neurology {
          @include bg-cover('../img/backgrounds/application2.jpg');

          .inner-title {
            color: #0033A1;
          }

          .details {
            @include base-button(#BE9230);
          }
        }
      }
    }
  }

  .result {
    @include bg-cover('../img/backgrounds/bubbles-results.jpg');
    padding: 0 0 80px;

    .title-wrapper {
      @include flex-all-sb;
      padding: 0 0 555px;

      .line {
        width: 450px;
        height: 2px;
        background: #D4D7DB;
      }
  
      .result-title {
        font-family: 'Tahoma';
        font-size: 36px;
        line-height: 43px;
      }
    }

    .result-slider {
      position: absolute;
      bottom: 70px;

      .slide {
        position: relative;
        opacity: 0.4;
        transition: opacity 400ms, transform 400ms;

        .inner-container {
          height: 380px;
          background: #0033A1;
          border-radius: 20px;
        }
      }

      .tns-slide-active ~ .tns-slide-active {
        opacity: 1;
        transform: scale(1.32);
      }

      .tns-slide-active ~ .tns-slide-active + .tns-slide-active {
        opacity: 0.4;
        transform: scale(1);
      }
    }

    .control {
      @include flex-all-sb;
      position: absolute;
      left: 0;
      bottom: 0;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;

      .count {
        margin: 0 15px;
      }

      .result-slider-button-next,
      .result-slider-button-prev {
        cursor: pointer;
        background: url('../img/elements/arrow-left-black.svg') no-repeat 50% 50%;
        width: 16px;
        height: 16px;
      }
      
      .result-slider-button-next {
        transform: matrix(-1, 0, 0, 1, 0, 0);
      }
    }
  }

  .news {
    position: relative;
    padding: 80px 0;
    
    .title-wrapper {
      @include flex-all-sb;
      margin: 0 0 0 120px;
      padding: 0 0 530px;

      .title {
        margin: 0;
      }

      .all-news {
        position: relative;
        display: inline-block;
        margin: 0 30px 0 0;
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        color: #0033A1;
        text-transform: uppercase;

        &::after {
          position: absolute;
          content: url('../img/elements/arrow-right-yellow.svg');
          right: -30px;
          top: 0;
        }
      }
    }

    .news-slider {
      position: absolute;
      bottom: 0;
      margin: 0 0 0 120px;

      .slide {
        position: relative;
        opacity: 0.4;
        transition: opacity 400ms;

        .inner-container {
          position: relative;
          height: 440px;
          box-shadow: 0px 5px 45px rgba(0, 0, 0, 0.07);
          border-radius: 20px;
          padding: 275px 25px 50px;

          .image {
            position: absolute;
            top: -50px;
            left: 25px;
            width: 390px;
            height: 300px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 8px;
          }

          .date {
            margin: 0 0 10px;
            font-size: 16px;
            line-height: 22px;
            color: #BE9230;
          }

          .link a {
            font-weight: 600;
            font-size: 18px;
            line-height: 28px;
            height: 84px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;

            &:hover {
              color: #0033A1;
            }
          }
        }
      }

      .tns-slide-active {
        opacity: 1;
      }
    }

    .control {
      @include flex-all-sb;
      position: absolute;
      left: 0;
      bottom: 0;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;

      .count {
        margin: 0 15px;
      }

      .news-slider-button-next,
      .news-slider-button-prev {
        cursor: pointer;
        background: url('../img/elements/arrow-left-black.svg') no-repeat 50% 50%;
        width: 16px;
        height: 16px;
      }
      
      .news-slider-button-next {
        transform: matrix(-1, 0, 0, 1, 0, 0);
      }
    }
  }

  .video {
    @include bg-cover('../img/backgrounds/bubbles-video.jpg');
    padding: 60px 0 80px;

    .video-wrapper {
      margin: 0 0 0 120px;
      
      .title {
        margin: 0 0 40px;
      }
    
      .content {
        width: 100%;
        height: 540px;
        border-radius: 20px;
      }
    }
  }

  .awards {
    padding: 80px 0;

    .awards-wrapper {
      margin: 0 0 0 120px;
      
      .title {
        margin: 0 0 40px;
      }

      .content {
        @include flex-all-sb;
  
        .item {
          display: block;
          width: 330px;
        }
      }
    }
  }

  .about {
    background: #F3F3F3;
    padding: 60px 0 35px;

    .title {
      margin: 0 0 0 120px;
    }

    .slider-wrapper {
      width: 120%;

      .about-slider {
        .slide {
          padding: 40px 45px 45px 120px;

          .grid-container {
            background: #FFFFFF;
            display: grid;
            grid-template-columns: 360px calc(100% - 360px);
            border-radius: 20px;
            min-height: 510px;
  
            .person {
              box-shadow: 0px 5px 45px rgba(0, 0, 0, 0.07);
              border-radius: 20px 0 0 20px;
              
              .photo {
                background-position: 50% 50%;
                background-repeat: no-repeat;
                background-size: cover;
                width: 100%;
                height: 250px;
                border-radius: 20px 0 0 0;
              }
      
              .person-info {
                padding: 30px 40px 50px;
      
                .name {
                  font-weight: bold;
                  font-size: 20px;
                  line-height: 24px;
                  margin: 0 0 20px;
                }
      
                .position {
                  font-size: 14px;
                  line-height: 22px;
                  color: #A4A8AC;
                }
              }
            }
    
            .review {
              @include flex-sb-col;
              padding: 60px 120px;
              background: url('../img/elements/quote.svg') no-repeat 60px 37px / 300px;
    
              .text {
                font-style: italic;
                font-weight: 300;
                font-size: 20px;
                line-height: 32px;
                margin: 0 0 50px;
              }
    
              .link > a {
                position: relative;
                display: inline-block;
                font-weight: 600;
                font-size: 14px;
                line-height: 19px;
                color: #0033A1;
    
                &::after {
                  position: absolute;
                  content: url('../img/elements/arrow-right-yellow.svg');
                  right: -30px;
                  top: 0;
                }
              }
            }
          }
        }
      }
    }

    .control {
      @include flex-all-sb;
      position: absolute;
      left: 0;
      bottom: 45px;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;

      .count {
        margin: 0 15px;
      }

      .about-slider-button-next,
      .about-slider-button-prev {
        cursor: pointer;
        background: url('../img/elements/arrow-left-black.svg') no-repeat 50% 50%;
        width: 16px;
        height: 16px;
      }
      
      .about-slider-button-next {
        transform: matrix(-1, 0, 0, 1, 0, 0);
      }
    }
  }

  .location {
    padding: 60px 0 50px;

    .title {
      margin: 0 0 40px 120px;
    }

    .massage {
      width: 100%;
      font-size: 16px;
      line-height: 28px;
      margin: 0 0 30px;
      padding: 20px 40px;
      border: 5px solid #F3F3F3;
      border-radius: 20px;
    }

    .content {
      display: grid;
      grid-template-columns: calc(100% - 450px) 450px;
      width: 100%;
      height: 520px;
      margin: 0 0 40px;
      box-shadow: 0px 5px 45px rgba(0, 0, 0, 0.07);
      border-radius: 20px;

      .map {
        iframe{
          border-radius: 20px 0 0 20px;
        }
      }

      .info {
        padding: 50px;

        .map-logo {
          display: block;
          margin: 0 0 50px;
        }

        .name {
          margin: 0 0 30px;
          font-weight: bold;
          font-size: 24px;
          line-height: 33px;
        }

        .tags-container {
          .item {
            @include flex;
            align-items: flex-start;
            margin: 0 0 25px;

            .icon {
              display: block;
              margin: 3px 15px 0 0;
            }

            .text {
              font-size: 16px;
              line-height: 26px;
            }

            .link {
              text-decoration-line: underline;
              color: #0033A1;
            }
          }
        }
      }
    }

    .sub-text {
      padding: 20px 40px;
      font-size: 16px;
      line-height: 26px;
      border: 5px solid #F3F3F3;
      border-radius: 20px;
      margin: 0 0 10px;
    }

    .attention {
      @include flex-v-center;
      padding: 15px 40px;
      background: #FBCBBB;
      border-radius: 20px;

      .icon {
        margin: 0 15px 0 0;
      }

      .text {
        color: #9F2863;
        font-weight: 600;
        font-size: 16px;
        line-height: 28px;
      }
    }
  }

  .answers {
    padding: 50px 0 70px;

    .answer-list-wrapper {
      padding: 0 120px;
      margin: 0 0 40px;

      .title-wrapper {
        @include flex-all-sb;
        margin: 0 0 40px;

        .title {
          margin: 0;
        }
  
        .all-questions {
          position: relative;
          display: inline-block;
          margin: 0 30px 0 0;
          font-weight: 600;
          font-size: 14px;
          line-height: 19px;
          color: #0033A1;
          text-transform: uppercase;

          &::after {
            position: absolute;
            content: url('../img/elements/arrow-right-yellow.svg');
            right: -30px;
            top: 0;
          }
        }
      }

      .list-item {
        position: relative;
        padding: 30px 0;
        width: 100%;
        font-weight: 600;
        font-size: 20px;
        line-height: 34px;
        color: #2D3341;
        border-bottom: 1px solid #D4D7DB;

        .content {
          position: relative;
          padding: 30px 120px 0 40px;
          font-style: italic;
          font-weight: 300;
          font-size: 18px;
          line-height: 28px;
          color: #2D3341;

          &::before {
            content: '';
            z-index: -1;
            width: 55px;
            height: 55px;
            left: 0;
            top: 20px;
            position: absolute;
            display: block;
            background: url('../img/elements/quote.svg') no-repeat 50% 50%;
          }
        }

        details {
          cursor: pointer;
        }
        
        details summary::-webkit-details-marker {
          display: none;
        }
        
        details > summary {
          list-style: none;
          position: relative;
          padding: 0 70px 0 0;
        }
        
        details summary:before {
          content: '';
          width: 50px;
          height: 50px;
          border-radius: 50%;
          right: 0;
          top: calc(50% - 25px);
          position: absolute;
          display: block;
          background: #0033A1 url('../img/elements/plus.svg') no-repeat 50% 50%;
        }
        
        details[open] summary:before {
          content: '';
          width: 50px;
          height: 50px;
          border-radius: 50%;
          right: 0;
          top: calc(50% - 25px);
          position: absolute;
          display: block;
          background: #0033A1 url('../img/elements/minus.svg') no-repeat 50% 50%;
        }
      }
    }

    .button-wrapper {
      @include flex-h-center;
      
      .get-more-button {
        @include base-button(#ffffff);
        border: 1px solid #BE9230;
        color: #2D3341;
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
      }
    }
  }

  .question {
    .question-form {
      @include bg-cover('../img/backgrounds/question-form.jpg');
      width: 100%;
      border-radius: 20px;
      padding: 60px 120px 60px 600px;
      margin: 0 0 60px;

      .label-wrapper {
        font-size: 14px;
        line-height: 19px;
        text-transform: uppercase;
        color: #595E65;
        margin: 0 0 5px;
      }

      .star {
        color: #9d2862;
      }

      .input-container {
        @include flex-all-sb;
        margin: 0 0 15px;

        .input-wrapper {
          input {
            width: 210px;
            padding: 14px 20px;
            box-shadow: 0px 5px 45px rgba(0, 0, 0, 0.07);
            border-radius: 5px;
            border: none;
          }
        }
      }

      .select-wrapper {
        .theme {
          width: 100%;
          padding: 14px 20px;
          background: #ffffff url('../img/elements/arrow-down-blue.svg') no-repeat right 15px top 50%;
          box-shadow: 0px 5px 45px rgba(0, 0, 0, 0.07);
          border-radius: 5px;
          border: none;
          font-weight: 600;
          font-size: 16px;
          line-height: 22px;
          margin: 0 0 15px;
          -moz-appearance: none;
          -webkit-appearance: none;
          appearance: none;

          option {
            font-weight: 600;
            font-size: 16px;
            line-height: 22px;
          }
        }
      }

      .textarea-wrapper {
        .massage {
          width: 100%;
          height: 176px;
          padding: 14px 20px;
          box-shadow: 0px 5px 45px rgba(0, 0, 0, 0.07);
          border-radius: 5px;
          border: none;
          margin: 0 0 20px;
          resize: none;
          font-size: 16px;
          line-height: 22px;
          font-family: "Open Sans", sans-serif;
        }
      }
      
      .checkbox-wrapper {
        @include flex-v-center;
        margin: 0 0 10px;
        font-size: 14px;
        line-height: 19px;
        color: #2D3341;

        .policy {
          color: #0033A1;
          text-decoration: underline;
        }

        input {
          position: relative;
          width: 20px;
          height: 20px;
          -moz-appearance:none;
          -webkit-appearance:none;
          appearance:none;
          border-radius: 5px;
          background: #ffffff;
          color: #ffffff;
          margin: 0 10px 0 0;
          cursor: pointer;

          &:checked {
            background: #0033A1;
          }

          &:checked::after {
            content: '✔';
            position: absolute;
            left: 5px;
            top: 0;
          }
        }
        
        span {
          width: calc(100% - 30px);
        }
      }

      .recaptcha-wrapper {
        margin: 20px 0 30px;
      }

      .submit-wrapper {
        @include flex-h-center;

        .submit-button {
          @include base-button(#0033A1);
          padding: 14px 56px;
          font-weight: 600;
          font-size: 16px;
          line-height: 22px;
        }
      }
    }
  }

  // mobile

  @include small-screen {
    margin: 50px 0 0;
    
    .title {  
      font-size: 30px;
      line-height: 36px;

      &::before {
        left: -45px;
        width: 30px;
      }
    }
  
    .main-slider-section {
      position: relative;
  
      .main-slider-button-prev,
      .main-slider-button-next {
        display: none;
      }
      
      &::after {
        display: none;
      }
  
      .main-slider {
        width: 100%;
  
        .slide {
          background-position: 80%;
          background-repeat: no-repeat;
          background-size: cover;
        }
  
        .content {
          padding: 265px 0 30px;
  
          .title {
            width: 100%;
            font-size: 16px;
            line-height: 19px;
            margin: 0 0 15px;

            &::before {
              width: 30px;
              top: -15px;
              left: 0;
            }
          }
  
          .big-text {
            width: 100%;
            font-size: 56px;
            line-height: 46px;
          }
  
          .sub-text {
            width: 100%;
            font-size: 18px;
            line-height: 28px;
            margin: 0 0 30px;
          }
  
          .link {
            @include base-button(#0033A1);
            display: inline-block;
          }
        }
      }
    }
  
    .about-drug {
      .about-drug-wrapper {
        padding: 50px 0 0;
  
        .title {
          font-size: 14px;
          line-height: 17px;
          margin: 0 0 20px 45px;
        }
  
        .content {
          display: block;
  
          .main-info {
            padding: 30px 20px 40px;
            border-radius: 20px 20px 0px 0px;
  
            .inner-title {
              font-size: 30px;
              line-height: 36px;
              margin: 0 0 25px;
            }
  
            .text {
              font-size: 16px;
              line-height: 24px;
              margin: 0 0 40px;
            }
  
            .item {
              font-size: 14px;
              line-height: 19px;
            }
          }
  
          .developing {
            @include bg-cover('../img/backgrounds/about-drug-image.jpg');
            padding: 30px 20px;
            border-radius: 0px 0px 20px 20px;
  
            .text {
              font-size: 20px;
              line-height: 28px;
              margin: 0 0 50px;
            }
          }
        }
      }
    }
  
    .our-advantages {
      @include bg-cover('../img/backgrounds/bubbles.jpg');
      padding: 50px 0;
  
      .title {
        font-size: 14px;
        line-height: 17px;
        margin: 0 0 10px 45px;
      }
  
      .inner-title {
        font-size: 30px;
        line-height: 36px;
        margin: 0 0 25px;
      }
  
      .content {
        padding: 0;
        grid-template-columns: 1fr;
        width: 100%;
        column-gap: 0;
        row-gap: 25px;
  
        .item {
          @include flex-v-center;
  
          .icon {
            width: 65px;
            height: 65px;
            margin: 0 20px 0 0;
          }
  
          .text {
            font-weight: 300;
            font-size: 18px;
            line-height: 24px;
          }
        }
      }
    }
  
    .application {
      padding: 50px 0;
  
      .title {
        margin: 0 0 25px 45px;
      }
  
      .content {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 0;
        row-gap: 20px;
  
        .item {
          width: 100%;
          min-height: 460px;
          padding: 35px 20px;
  
          .inner-title {
            font-size: 48px;
            line-height: 44px;
          }
  
          li {
            font-size: 16px;
            line-height: 24px;
          }
          
          .details {
            position: absolute;
            left: 20px;
            bottom: 35px;
          }
  
          &.cosmetology,
          &.neurology {
            background-position: left;
            background-size: 200%;
          }
        }
      }
    }
  
    .result {
      @include bg-cover('../img/backgrounds/bubbles-results.jpg');
      padding: 0 0 80px;
  
      .title-wrapper {
        @include flex-all-sb;
        padding: 0 0 555px;
  
        .line {
          width: 450px;
          height: 2px;
          background: #D4D7DB;
        }
    
        .result-title {
          font-family: 'Tahoma';
          font-size: 36px;
          line-height: 43px;
        }
      }
  
      .result-slider {
        position: absolute;
        bottom: 70px;
  
        .slide {
          position: relative;
          opacity: 0.4;
          transition: opacity 400ms, transform 400ms;
  
          .inner-container {
            height: 380px;
            background: #0033A1;
            border-radius: 20px;
          }
        }
  
        .tns-slide-active ~ .tns-slide-active {
          opacity: 1;
          transform: scale(1.32);
        }
  
        .tns-slide-active ~ .tns-slide-active + .tns-slide-active {
          opacity: 0.4;
          transform: scale(1);
        }
      }
  
      .control {
        @include flex-all-sb;
        position: absolute;
        left: 0;
        bottom: 0;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
  
        .count {
          margin: 0 15px;
        }
  
        .result-slider-button-next,
        .result-slider-button-prev {
          cursor: pointer;
          background: url('../img/elements/arrow-left-black.svg') no-repeat 50% 50%;
          width: 16px;
          height: 16px;
        }
        
        .result-slider-button-next {
          transform: matrix(-1, 0, 0, 1, 0, 0);
        }
      }
    }
  
    .news {
      padding: 0 0 150px;
      
      .title-wrapper {
        margin: 0;
        padding: 0 0 430px;
  
        .title {
          margin: 0 0 0 45px;
        }
  
        .all-news {
          @include base-button(#0033A1);
          width: calc(100% - 40px);
          position: absolute;
          text-align: center;
          bottom: -100px;
          font-size: 16px;
          line-height: 22px;
          text-transform: none;


          &::after {
            display: none;
          }
        }
      }
  
      .news-slider {
        margin: 0;
  
        .slide {  
          .inner-container {
            height: 360px;
            padding: 200px 25px 50px;
  
            .image {
              width: calc(100% - 50px);
              height: 230px;
            }
  
            .link a {
              font-size: 16px;
              line-height: 24px;
              height: 72px;
            }
          }
        }
      }
  
      .control {
        left: calc(50% - 44px);
        bottom: -30px;
      }
    }
  
    .video {
      padding: 40px 0 50px;
  
      .video-wrapper {
        margin: 0;
        
        .title {
          margin: 0 0 25px 45px;
        }
      
        .content {
          height: 200px;
        }
      }
    }
  
    .awards {
      padding: 50px 0;
  
      .awards-wrapper {
        margin: 0 0 0 45px;
        
        .title {
          margin: 0 0 40px;
        }
  
        .content {
          @include flex-all-sb;
    
          .item {
            display: block;
            width: 210px;
            margin: 0 30px 0 0;
          }
        }
      }
    }
  
    .about {
      padding: 40px 0 50px;
  
      .title {
        margin: 0 0 0 45px;
      }
  
      .slider-wrapper {
        width: 100%;
  
        .about-slider {
          .slide {
            padding: 25px 0 30px;
  
            .grid-container {
              display: block;
              border-radius: 20px;
              min-height: auto;
    
              .person {
                padding: 25px 20px;
                box-shadow: 0px 5px 45px rgba(0, 0, 0, 0.07);
                border-radius: 20px 20px 0 0;
                
                .photo {
                  display: none;
                }
        
                .person-info {
                  padding: 0;
        
                  .name {
                    font-size: 18px;
                    line-height: 24px;
                    margin: 0 0 15px;
                  }
                }
              }
      
              .review {
                padding: 30px 20px;
                background: url('../img/elements/quote.svg') no-repeat 10px 20px / 60%;
      
                .text {
                  font-size: 16px;
                  line-height: 24px;
                  margin: 0 0 30px;
                }
              }
            }
          }
        }
      }
  
      .control {
        justify-content: center;
        position: static;
      }
    }
  
    .location {
      padding: 50px 0;

      .container {
        padding: 0;
      }
  
      .title {
        margin: 0 0 25px 65px;
      }
  
      .massage {
        line-height: 24px;
        padding: 20px;
        width: calc(100% - 40px);
        margin: 0 20px 30px;
      }
  
      .content {
        width: 100%;
        margin: 0 0 20px;
        grid-template-columns: 1fr;
        height: auto;
        box-shadow: none;
        border-radius: 0;
  
        .map {
          iframe{
            border-radius: 0;
          }
        }
  
        .info {
          padding: 40px 20px 0;
  
          .map-logo {
            margin: 0 0 30px;
          }
  
          .name {
            font-size: 20px;
            line-height: 27px;
          }
        }
      }
  
      .sub-text {
        padding: 20px;
        line-height: 24px;
        width: calc(100% - 40px);
        margin: 0 20px 10px;
      }
  
      .attention {
        padding: 20px;
        width: calc(100% - 40px);
        margin: 0 20px;
  
        .text {
          line-height: 24px;
        }
      }
    }
  
    .answers {
      padding: 0 0 115px;
      position: relative;

      .container {
        position: static;
      }
  
      .answer-list-wrapper {
        padding: 0;
        margin: 0 0 30px;
  
        .title-wrapper {
          margin: 0 0 20px;
          position: static;
  
          .title {
            margin: 0 0 0 45px;
          }
    
          .all-questions {
            @include base-button(#0033A1);
            width: calc(100% - 40px);
            position: absolute;
            text-align: center;
            bottom: 50px;
            font-weight: 600;
            font-size: 16px;
            line-height: 22px;
            text-transform: none;

  
            &::after {
              display: none;
            }
          }
        }
  
        .list-item {
          padding: 20px 0;
          font-size: 16px;
          line-height: 24px;
  
          .content {
            padding: 20px 0 0 10px;
            font-size: 16px;
            line-height: 24px;
          }
          
          details > summary {
            padding: 0 50px 0 0;
          }

          details summary:before {
            width: 36px;
            height: 36px;
            top: calc(50% - 18px);
            background-size: 50%;
          }

          details[open] summary:before {
            width: 36px;
            height: 36px;
            top: calc(50% - 18px);
            background-size: 50%;
          }
        }
      }
  
      .button-wrapper {
        .get-more-button {
          width: 100%;
        }
      }
    }
  
    .question {
      .question-form {
        padding: 30px 20px 40px;

        .title {
          margin: 0 0 30px 45px;
          font-size: 24px;
          line-height: 29px;
        }
  
        .label-wrapper {
          font-size: 12px;
          line-height: 16px;
        }
  
        .input-container {
          display: block;

          .item {
            margin: 0 0 15px;
          }
  
          .input-wrapper {
            input {
              width: 100%;
            }
          }
        }
        
        .checkbox-wrapper {
          font-size: 12px;
          line-height: 16px;
        }
  
        .recaptcha-wrapper {
          margin: 20px 0 30px;
        }
  
        .submit-wrapper {
          @include flex-h-center;
  
          .submit-button {
            @include base-button(#0033A1);
            padding: 14px 56px;
            font-weight: 600;
            font-size: 16px;
            line-height: 22px;
          }
        }
      }
    }
  }
}