.instruction {
  .title-line {
    @include bg-cover('../img/backgrounds/title-line.jpg');
    padding: 56px 0;
    
    .main-title {
      font-family: 'Tahoma';
      font-size: 40px;
      line-height: 48px;
      color: #FFFFFF;

      .text-bold {
        font-weight: bold;
      }
    }
  }

  .breadcrumb {
    .breadcrumb-wrapper {
      @include flex;
      margin: 40px 0 40px;
  
      .item {
        position: relative;
        padding: 0 25px 0 0;
        font-family: 'Tahoma';
        font-size: 13px;
        line-height: 16px;
        text-transform: uppercase;
        color: #A4A8AC;
        
        &:not(:last-child)::after {
          position: absolute;
          right: 6px;
          content: '—';
        }
  
        &:not(:last-child):hover {
          text-decoration: underline;
        }
      }
    }
  }

  .main-content {
    .main-contant-wrapper {
      display: grid;
      grid-template-columns: 330px calc(100% - 330px);
      column-gap: 30px;

      .navigation {
        .navigation-list {
          height: max-content;
          padding: 15px 30px;
          background: #FFFFFF;
          color: #595E65;
          font-family: 'Tahoma';
          font-size: 16px;
          line-height: 19px;
          box-shadow: 0px 5px 45px rgba(0, 0, 0, 0.07);
          border-radius: 20px;

          .link {
            width: 100%;
            padding: 15px 10px 15px 0;
            
            &:not(:last-child) {
              border-bottom: 1px solid #D4D7DB;
            }
          }

          a {
            position: relative;
            display: block;
            width: 100%;

            &.active,
            &:hover {
              color: #0033A1;

              &:after {
                content: '›';
                position: absolute;
                top: calc(50% - 8px);
                right: -10px;
                color: #BE9230;
              }
            }
          }

          &:hover .dropdown-content {
            display: block;
          }
        }

        .navigation-mobile {
          display: none;
        }
      }
    }

    .content {
      .images {
        position: relative;
        height: 400px;
        margin: 0 0 50px;

        .instruction-slider-button-prev {
          position: absolute;
          display: block;
          left: -20px;
          top: calc(50% - 20px);
          z-index: 2;
          width: 40px;
          height: 40px;
          background: #FFFFFF url('../img/elements/arrow-left-blue.svg') no-repeat 50% 50%;
          box-shadow: 0px 5px 45px rgba(0, 0, 0, 0.07);
          border-radius: 50%;
          cursor: pointer;
        }
    
        .instruction-slider-button-next {
          position: absolute;
          right: -20px;
          top: calc(50% - 20px);
          z-index: 2;
          width: 40px;
          height: 40px;
          background: #FFFFFF url('../img/elements/arrow-left-blue.svg') no-repeat 50% 50%;
          box-shadow: 0px 5px 45px rgba(0, 0, 0, 0.07);
          border-radius: 50%;
          cursor: pointer;
          transform: matrix(-1, 0, 0, 1, 0, 0);
        }

        .instruction-slider {
          .slide {
            .image-wrapper {
              position: relative;
              height: 400px;
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
              border-radius: 20px;
              padding: 80px 480px 140px 120px;

              .subtitle {
                font-size: 30px;
                line-height: 140%;
                color: #BE9230;
              }

              .text-bold {
                font-weight: bold;
              }

              .buttons-wrapper {
                position: absolute;
                left: 120px;
                bottom: 90px;

                a {
                  @include base-button(none);
                  border: 1px solid #9F2863;
                  color: #2D3341;
                  margin: 0 20px 0 0;
                  transition: all 400ms;

                  &.active,
                  &:hover {
                    color: #FFFFFF;
                    background: #9F2863;
                  }
                }
              }

              .inner-image {
                position: absolute;
                top: 43px;
                right: 240px;
                width: 200px;
                height: 315px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
              }
            }
          }
        }
      }

      .title {
        position: relative;
        font-family: 'Tahoma';
        font-size: 36px;
        line-height: 43px;
        color: #2D3341;
        margin: 0 0 40px 120px;
    
        &::before {
          position: absolute;
          left: -120px;
          top: 50%;
          content: '';
          background: #BE9230;
          width: 90px;
          height: 2px;
        }
      }

      .text-container {
        font-size: 16px;
        line-height: 26px;
        color: #595E65;
        margin: 0 0 5px;

        .text-bold {
          font-weight: 600;
          color: #2D3341;
        }
      }

      .answer-list {
        margin: 0 0 60px;

        .list-item {
          position: relative;
          padding: 30px 0;
          width: 100%;
          font-weight: 600;
          font-size: 20px;
          line-height: 34px;
          color: #2D3341;
          border-bottom: 1px solid #D4D7DB;
  
          .list-item-content {
            position: relative;
            padding: 30px 120px 0 40px;
            font-style: italic;
            font-weight: 300;
            font-size: 18px;
            line-height: 28px;
            color: #2D3341;
  
            &::before {
              content: '';
              z-index: -1;
              width: 55px;
              height: 55px;
              left: 0;
              top: 20px;
              position: absolute;
              display: block;
              background: url('../img/elements/quote.svg') no-repeat 50% 50%;
            }
          }
  
          details {
            cursor: pointer;
          }
          
          details summary::-webkit-details-marker {
            display: none;
          }
          
          details > summary {
            list-style: none;
            position: relative;
            padding: 0 70px 0 0;
          }
          
          details summary:before {
            content: '';
            width: 50px;
            height: 50px;
            border-radius: 50%;
            right: 0;
            top: calc(50% - 25px);
            position: absolute;
            display: block;
            background: #0033A1 url('../img/elements/plus.svg') no-repeat 50% 50%;
          }
          
          details[open] summary:before {
            content: '';
            width: 50px;
            height: 50px;
            border-radius: 50%;
            right: 0;
            top: calc(50% - 25px);
            position: absolute;
            display: block;
            background: #0033A1 url('../img/elements/minus.svg') no-repeat 50% 50%;
          }
        }
      }

      .slider-wrapper {
        position: relative;
        padding: 0 0 0 120px;
        margin: 0 0 60px;

        .documents-slider {
          .slide {
            .document-image {
              height: 300px;
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
            }
          }
        }

        .control {
          @include flex-all-sb;
          position: absolute;
          left: 0;
          bottom: 0;
          font-weight: 600;
          font-size: 16px;
          line-height: 22px;
    
          .count {
            margin: 0 15px;
          }
    
          .documents-slider-button-next,
          .documents-slider-button-prev {
            cursor: pointer;
            background: url('../img/elements/arrow-left-black.svg') no-repeat 50% 50%;
            width: 16px;
            height: 16px;
          }
          
          .documents-slider-button-next {
            transform: matrix(-1, 0, 0, 1, 0, 0);
          }
        }
      }
    }
  }

  @include small-screen {
    margin: 60px 0 0;

    .title-line {
      padding: 35px 0;
      
      .main-title {
        font-size: 24px;
        line-height: 29px;
      }
    }

    .breadcrumb {
      .breadcrumb-wrapper {
        flex-wrap: wrap;
        margin: 20px 0;
  
        .item {
          font-size: 12px;
          line-height: 14px;
          margin: 0 0 10px;
        }
      }
    }

    .main-content {
      .main-contant-wrapper {
        grid-template-columns: 100%;
        column-gap: 0;
  
        .navigation {
          margin: 0 0 30px;
          
          .navigation-list {
            display: none;
            position: absolute;
            top: 60px;
            z-index: 10;
            width: calc(100% - 40px);
            border-radius: 10px;
          }

          .navigation-mobile {
            display: block;

            .navigation-mobile-button {
              @include flex-all-sb;
              width: 100%;
              padding: 15px;
              border: 1px solid #83B1DB;
              border-radius: 10px;
              font-size: 16px;
              line-height: 22px;
              
              .text {
                width: 90%;
                text-align: left;
              }
            }
          }

          &:hover .navigation-list {
            display: block;
          }
        }
      }

      .content {
        .images {
          height: 365px;
          margin: 0 0 40px;
  
          .instruction-slider-button-prev {
            left: -15px;
            top: calc(50% - 15px);
            width: 30px;
            height: 30px;
          }
      
          .instruction-slider-button-next {
            right: -15px;
            top: calc(50% - 15px);
            width: 30px;
            height: 30px;
          }
  
          .instruction-slider {
            .slide {
              .image-wrapper {
                height: 365px;
                padding: 25px 20px;
  
                .subtitle {
                  font-size: 18px;
                  line-height: 140%;
                  margin: 0 0 20px;
                }
  
                .buttons-wrapper {
                  @include flex;
                  justify-content: space-evenly;
                  width: 100%;
                  left: 0;
                  bottom: 25px;
  
                  a {
                    margin: 0;
                  }
                }
  
                .inner-image {
                  position: static;
                  width: 100%;
                  height: 160px;
                  background-size: auto 100%;
                }
              }
            }
          }
        }
  
        .title {
          font-size: 24px;
          line-height: 29px;
          margin: 0 0 25px 45px;
      
          &::before {
            left: -45px;
            width: 30px;
          }
        }
  
        .text-container {
          font-size: 16px;
          line-height: 24px;
          margin: 0;

          & > div {
            margin: 0 0 20px;
          }
  
          .text-bold {
            display: block;
            font-size: 14px;
            line-height: 22px;
            margin: 0 0 5px;
          }
        }
  
        .answer-list {
          margin: 0 0 40px;
  
          .list-item {
            padding: 20px 0;
            font-size: 16px;
            line-height: 24px;
  
            .list-item-content {
              padding: 20px 0 0 10px;
              font-size: 16px;
              line-height: 24px;
            }
            
            details > summary {
              padding: 0 50px 0 0;
            }
  
            details summary:before {
              width: 36px;
              height: 36px;
              top: calc(50% - 18px);
              background-size: 50%;
            }
  
            details[open] summary:before {
              width: 36px;
              height: 36px;
              top: calc(50% - 18px);
              background-size: 50%;
            }
          }
        }
  
        .slider-wrapper {
          padding: 0;
          margin: 0 0 40px;
  
          .documents-slider {
            .slide {
              .document-image {
                height: 300px;
              }
            }
          }
  
          .control {
            display: none;
          }
        }
      }
    }
  }
}