<header class="header">
  <div class="container">
    <div class="nav-menu">
      <a href="">
        <img src="./img/logo.svg" class="logo">
      </a>
      <div class="menu">
        <div class="item">
          <button class="item-button">О препарате</button>
          <img class="arrow" src="./img/elements/arrow-down-blue.svg">
          <div class="dropdown-content">
            <div class="control">
              <button class="back-button" type="button">❮ назад</button>
              <div class="name">О препарате</div>
            </div>
            <div class="link"><a href="">Инструкция и документы</a></div>
            <div class="link"><a href="">Разработка и производство</a></div>
          </div>
        </div>
        <div class="item">
          <button class="item-button">Применение</button>
          <img class="arrow" src="./img/elements/arrow-down-blue.svg">
          <div class="dropdown-content">
            <div class="control">
              <button class="back-button" type="button">❮ назад</button>
              <div class="name">Применение</div>
            </div>
            <div class="link"><a href="">В косметологии</a></div>
            <div class="link"><a href="">В неврологии</a></div>
          </div>
        </div>
        <div class="item">
          <a href="">Новости</a>
        </div>
        <div class="item">
          <a href="">Вопрос-ответ</a>
        </div>
        <div class="item">
          <a href="">Специалистам</a>
        </div>
        <div class="item">
          <a href="">Где купить?</a>
        </div>
        <div class="item">
          <a href="">Контакты</a>
        </div>
        <a href="" class="calculator">
          Калькулятор доз
        </a>
        <div class="sub-info">
          <div class="row">АО «НПО «Микроген», 2021</div>
          <div class="row">РУ ЛП-001593 от 14.07.2021</div>
          <div class="row">Лицензия № 00313-ЛС от 17.02.2020</div>
        </div>
      </div>
      <label class="burger" for="burger-checkbox">
        <input class="burger-checkbox" type="checkbox" id="burger-checkbox"/> 
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>
  </div>
</header>
