<header class="header">
  <div class="container">
    <div class="nav-menu">
      <a href="">
        <img src="./img/logo.svg" class="logo">
      </a>
      <div class="menu">
        <div class="item">
          О препарате
          <img class="arrow" src="./img/elements/arrow-down-blue.svg">
          <div class="dropdown-content">
            <a href="">Инструкция и документы</a>
            <div class="separator"></div>
            <a href="">Разработка и производство</a>
          </div>
        </div>
        <div class="item">
          Применение
          <img class="arrow" src="./img/elements/arrow-down-blue.svg">
          <div class="dropdown-content">
            <a href="">В косметологии</a>
            <div class="separator"></div>
            <a href="">В неврологии</a>
          </div>
        </div>
        <div class="item">
          <a href="">Новости</a>
        </div>
        <div class="item">
          <a href="">Вопрос-ответ</a>
        </div>
        <div class="item">
          <a href="">Специалистам</a>
        </div>
        <div class="item">
          <a href="">Где купить?</a>
        </div>
        <div class="item">
          <a href="">Контакты</a>
        </div>
        <a href="" class="calculator">
          Калькулятор доз
        </a>
      </div>
    </div>
  </div>
</header>
