html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Open Sans";
}

button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

.site-container {
  overflow: hidden; // если используете на сайте position: sticky - уберите эту настройку
}

.is-hidden {
  display: none !important; // stylelint-disable-line declaration-no-important
}

.text-bold {
  font-weight: 600;
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  margin: 0 auto;
  max-width: 1410px;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}
